@model RazorSample.Web.ViewModels.ClientListVm

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="action-bar">
  <nav class="action-list">
    <a class="action-list__item" asp-action="add"><span>+ new client</span></a>
  </nav>
</nav>
  <table class="grid">
    <thead>
      <tr>
        <th><input type="checkbox"></th>
        <th><span>Name</span></th>
        <th><span>Employee No</span></th>
        <th><span>Created</span></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <th><input type="text" placeholder="Employee No"></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Items)
      {
        <tr>
          <td><input type="checkbox"></td>
          <td><a asp-action="edit" asp-route-clientid="@item.ClientId"><span>@item.Name</span></a></td>
          <td><span>@item.ClientNo</span></td>
          <td><span>@item.Created</span></td>
          <td>
            <nav class="action-list">
              <a class="action-list__item" asp-action="add" asp-controller="client"><span>client team</span></a>
              <a class="action-list__item" asp-action="activate"><span>activate</span></a>
              <a class="action-list__item" asp-action="deactivate"><span>deactivate</span></a>
            </nav>
          </td>
        </tr>
      }
    </tbody>
  </table>
