@model RazorSample.Web.ViewModels.ClientListVm

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="action-bar">
  <a class="action-bar__action" asp-action="add"><span>+ new client</span></a>
</nav>
<table class="grid">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th><span>Name</span></th>
      <th><span>Employee No</span></th>
      <th><span>Created</span></th>
    </tr>
    <tr>
      <th><span></span></th>
      <th><span></span></th>
      <th><input type="text" placeholder="Employee No"></th>
      <th><span></span></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Items)
    {
      <tr>
        <td><input type="checkbox"></td>
        <td><a asp-action="edit" asp-route-clientid="@item.ClientId"><span>@item.Name</span></a></td>
        <td><span>@item.ClientNo</span></td>
        <td><span>@item.Created</span></td>
      </tr>
    }
  </tbody>
</table>
