$c0-1: #f04f48;
$c00: #ef3e36;
$c01: #da3932;


$c1-1: #17a1d1;
$c10: #0098cd;
$c11: #008bbb;


$c2-4: #ecebeb;
$c2-3: #d9d7d8;
$c2-2: #c6c4c4;
$c2-1: #413b3d;
$c20: #2e282a;
$c21: #2a2527;


$c3-1: #96be84;
$c30: #7fb069;
$c31: #7fb069;


$c4-1: #e5d67c;
$c40: #e3d26f;
$c41: #cfbf65;

$textColor: $c20;
$linkColor: $c10;
$linkActiveColor: $c1-1;
$backgroundColor: $c2-4;
$borderColor: $c2-2;

$altTextColor: $c2-2;
$altBackgroundColor: $c20;
$borderColor: $c2-2;
