$gapTB: 10px;
$gapLR: 10px;

$textSize: 14px;
$headerSize: 18px;

$textFontFamily: 'Arial';

$lineHeight: 50px;

$inputWidth: 250px;
$inputPadding: 2px;
$inputLineHeight: 2 * $textSize;

$borderSize: 1px;
