@import '_color';
@import '_typography';

.action-list {
  flex: 1 1 auto;
}

.action-list__item {
  color: $linkColor;
  cursor: pointer;
  text-decoration: underline;
}

.action-list__item:hover {
  color: $linkActiveColor;
}

.action-list__item + .action-list__item {
  margin-left: $gapLR;
}
