@import '_color';
@import '_typography';

.breadcrumb-bar {
  background: $backgroundColor;
  border-bottom: $borderColor 1px solid;
  padding-left: $gapLR;
}

span.breadcrumb-bar__item {
  color: $textColor;
}

a.breadcrumb-bar__item {
  color: $linkColor;
}

.breadcrumb-bar__item + .breadcrumb-bar__item::before {
  content: "/";
  text-decoration: none;
  margin-right: $gapLR;
  margin-left: $gapLR;
}
