@import '_color';
@import '_typography';

.control {
  &__label {
    display: inline-block;
    min-width: $lebelWidth;
  }

  &__label_required {
    font-weight: bold;
  }

  &__field {
    width: $inputWidth;
    line-height: $inputLineHeight;
    padding: $inputPadding;
  }

  &__field,
  &__field input {
    color: $textColor;
    border: $borderColor 1px solid;
    background: #fff;
    font-size: $textSize;
    font-family: $textFontFamily;
  }

  &__error {
    color: $c00;
  }
}
