@import '_color';
@import '_typography';

.control {
}

.control__label {
  display: inline-block;
  min-width: $inputWidth;
}

.control__label_required {
  font-weight: bold;
}

.control__field {

  width: $inputWidth;
  line-height: $inputLineHeight;
  padding: $inputPadding;
}

.control__field,
.control__field input {
  color: $textColor;
  border: $borderColor 1px solid;
  background: #fff;
  font-size: $textSize;
  font-family: $textFontFamily;
}
