@import '_color';
@import '_typography';

.main {
  font-family: $textFontFamily;
  font-size: $textSize;

  color: $textColor;
  background: $backgroundColor;

  display: flex;
  flex-direction: column;
}

.main > .action-bar {
  flex: 0 1 auto;
}

.main > .panel {
  flex: 1 1 auto;
}

.main > .panel > .form > .form__controls {
  padding-left: $gapLR;
}
