@import '_color';
@import '_typography';

.panel {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;

  & > .tab-bar {
    grid-column: 1 / 2;
  }

  & > .form {
    grid-column: 1 / 3;
  }

  & > .tab-bar + .form {
    grid-column: 2 / 3;
  }
}
