@model RazorSample.Web.ViewModels.EmployeeListVm

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<nav class="action-bar">
  <nav class="action-list">
    <a class="action-list__item" asp-action="add"><span>+ new employee</span></a>
  </nav>
</nav>
<table class="grid">
  <thead>
    <tr>
      <th><input type="checkbox"></th>
      <th><span>Name</span></th>
      <th><span>Employee No</span></th>
      <th><span>Created</span></th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th><input type="text" placeholder="Employee No"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model.Items)
    {
    <tr>
      <td><input type="checkbox"></td>
      <td><a asp-action="edit" asp-route-employeeid="@item.EmployeeId"><span>@item.FullName</span></a></td>
      <td><span>@item.EmployeeNo</span></td>
      <td><span>@item.Created</span></td>
      <td>
        <nav class="action-list">
          <a class="action-list__item" asp-action="add" asp-controller="client"><span>+ new client</span></a>
          <a class="action-list__item" asp-action="activate"><span>activate</span></a>
          <a class="action-list__item" asp-action="deactivate"><span>deactivate</span></a>
        </nav>
      </td>
    </tr>
    }
  </tbody>
</table>
